.footer {
    display: flex;
    flex-direction: column;
}

.top__footer {
    margin: 0 auto;
    width: 100%;
    background: var(--dark__color);
    opacity: 0.9;
    padding-block: 4rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.top__footer h4 {
    font-size: 20px;
    margin-bottom: 1.3rem;
}

.col__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer__logo img {
    height: 4.75rem;
}

.footer__logo h4 {
    font-size: 24px;
    margin-inline: 0.7rem;
}

.col__left p {
    margin-left: 2.8rem;
}

.so__icon {
    list-style: none;
    margin-top: 1.4rem;
    margin-left: 2.8rem;
}

.so__icon li {
    display: flex;
    float: left;
    padding: 0;
    margin-right: 1rem;
    background-color: #333539;
    height: 30px;
    transition: 0.5s;
}

.so__icon li:hover {
    opacity: 0.7;
}

.so__icon li a {
    padding: 0.3rem 0.4rem;
    border-radius: 50px;
    background-color: #ffffff48;
}

.col__center {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.footer__links {
    list-style: disc;
    margin-left: 1rem;
}

.footer__links li {
    font-size: 16px;
    margin-block: 1rem;
}

.footer__links li a {
    color: var(--light__color);
    text-decoration: none;
    transition: 0.5s;
}

.footer__links li a:hover {
    margin-left: 0.3rem;
}

.col__right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__contact {
    list-style: none;
}

.footer__contact li {
    font-size: 16px;
    margin-block: 1rem;
}

.footer__contact li a {
    color: var(--light__color);
    text-decoration: none;
}

.footer__contact li svg {
    margin: 0rem 0.8rem -0.2rem 0rem;
}

.newsletter__footer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
}

.newsletter__footer svg {
    margin: 0rem 0.8rem -0.6rem 0rem;
}

.newsletter__footer h4 {
    font-size: 20px;
}

.newsletter__footer input {
    height: 55px;
    width: 307px;
    padding-inline: 1rem;
    background: transparent;
    outline: none;
    border: 1px solid var(--light__color);
    color: var(--light__color);
    font-size: 16px;
}

.newsletter__footer button {
    width: 215px;
    height: 55px;
    background: transparent;
    color: var(--light__color);
    border: 2px solid var(--light__color);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    display: inline-flex;
    letter-spacing: 0.1rem;
    align-items: center;
    justify-content: center;
    transition: 0.9s;
    margin-left: 1rem;
    cursor: pointer;
}

.newsletter__footer button:hover {
    background: var(--gold_dark__color);
}

.bottom__footer {
    margin: 0 auto;
    width: 100%;
    background: var(--dark__color);
    opacity: 0.9;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom__footer span {
    margin: 1rem;
    text-align: center;
}

.bottom__footer a {
    color: var(--white__color);
}

@media (max-width: 991.98px) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem 0;
    }

    .col__left, .col__center, .col__right {
        width: 80%;
    }

    .newsletter__footer {
        width: 97%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem 0;
    }

    .newsletter__footer input {
        height: 45px;
        width: 190px;
    }

    .newsletter__footer button {
        width: 140px;
        height: 45px;
    }
}