:root{
  --black__color:#000;
  --dark__color: #101418;
  --gold_dark__color: #A08040;
  --gold_light__color: #FFCE6D;
  --light__color: #FFFFFC;
  --white__color: #FFFF;
  --Roboto-font: 'Roboto';
  --Dancing-Script-font: 'Dancing Script';
}
*{
  margin: 0;
  padding: 0;
}
body {
  background: url('../public/assets/bg.gif');
  font-family: var(--Roboto-font);
  color: var(--white__color);
}
::selection{
  background: var(--gold_light__color);
  color: var(--white__color);
}
body::-webkit-scrollbar {
width: 8px;
}
body::-webkit-scrollbar-track {
background-color: var(--dark__color);
}
body::-webkit-scrollbar-thumb {
background-color: var(--gold_dark__color);
}